.feynman {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100vh;
  min-height: 650px;
  max-height: 890px;
  position: relative;
  background-color: #f2f2f2;
  padding-top: 100px;
}